
/*====================== MAIN CONTENT ======================*/

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: 100%;
    gap: 5vw;
    margin-top: 200px;
}

.welcome {
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    color: black;
    position: relative;
    height: min-content;
    width: 25vw;
}

.welcome h1 {
    font-size: 40pt;
    margin: 15px 0;
}

.welcome p {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
}

.welcome-img {
    width: 50vw;
    height: 100%;
}

/*====================== CAROUSEL ======================*/

.carousel {
    margin: 100px auto;
    height: min-content;
    width: 100%;
}

.carousel h2 { /* header */
    text-align: center;
    margin-bottom: 20px;
}

.carousel p { /* footer */
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 100;
    color: var(--gray);
}

.carousel-content {
    height: min-content;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carousel-item {
    height: 150px;
    width: 200px;
    border-radius: 16px;
    background-color: white;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0 .5px 2px #3640434d,0 2px 4px 1px #36404326;
}

.carousel-logo {
    height: 65%;
    width: auto;
}