
/*====================== FONT ======================*/

:root {
    --gray: #5F6368;
    --blue: #1967D2;
    --darkblue: #174ea6;
    --green: #34A853;
    --darkgreen: #188038;
    --red: #EA4335;
    --darkred: #c62c21;
}

@font-face { font-family: product-sans; src: url('../fonts/ProductSansRegular.ttf'); }
@font-face { font-family: product-sans; font-style: italic; src: url('../fonts/ProductSansItalic.ttf');}
@font-face { font-family: product-sans; font-weight: bold; src: url('../fonts/ProductSansBold.ttf');}
@font-face { font-family: product-sans; font-weight: bold; font-style: italic; src: url('../fonts/ProductSansBoldItalic.ttf');}

* {
    font-family: product-sans, sans-serif;
}



/*====================== HEADER ======================*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), inset 0 -1px #dadce0b9;
}

header img {
  height: 50px;
}

.header-left {
    display: flex;
    gap: 60px;
    margin: 0 auto 0 60px;
}

.header-link {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: .25px;
    text-decoration: none;
    color: var(--gray);
    padding: 4px;
    cursor: pointer;
}

.active {
    color: var(--blue);
}

.header-right {
    display: flex;
    gap: 10px;
}

.header-button {
    padding: 10px;
    font-size: 12pt;
    color: black;
    cursor: pointer;
}

.content {
    margin-top: 80px;
}