
/*====================== HEADER ======================*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08), inset 0 -1px #dadce0b9;

  outline: red 1px solid; /* DEBUG */
}

header img {
  height: 50px;

  outline: blue 1px solid; /* DEBUG */
}

.header-left {
    display: flex;
    gap: 60px;
    margin: 0 auto 0 60px;

    outline: blue 1px solid; /* DEBUG */
}

.header-link {
    font-size: 16pt;
    text-decoration: none;
    color: black;
    padding: 4px;
    cursor: pointer;

    outline: green 1px solid; /* DEBUG */
}

.active {
    font-weight: bold;
}

.header-right {
    display: flex;
    gap: 10px;

    outline: blue 1px solid; /* DEBUG */
}

.header-button {
    padding: 10px;
    font-size: 12pt;
    color: black;
    cursor: pointer;
}

.content {
    margin-top: 80px;
}