
.submit-header {
    text-align: center;
    font-size: 32pt;
    margin-top: 125px;
}

.submit-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10vw;
    margin: 50px auto 0 auto;
    width: min-content;

    /* outline: red 1px solid; DEBUG */
}

/*====================== FORM ======================*/

.submit-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    padding: 25px;
    background-color: white;
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.14);
    border-radius: 32px;
}

.submit-label {
    font-size: 14pt;
    margin: 5px 0 -10px 10px;
}

.submit-input {
    height: 30px;
    font-size: 12pt;
    padding: 14px;
    border: 1px solid #dadce0;
    position: relative;
    border-radius: 99px;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.14);
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14pt;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid transparent;
    color: white;
    background-color: var(--blue);
    transition: .2s;
}

.submit-button:hover {
    background-color: #124c9e;
}

/*====================== CARD PREVIEW ======================*/

.card-preview {
    height: 360px;
    width: 280px;
}