
/*====================== FILTER ======================*/

.filters {
    width: 70vw;
    height: min-content;
    margin: 100px auto auto auto;

    outline: red 1px solid; /* DEBUG */
}

.filter-input {
    width: 300px;
    height: 40px;
    font-size: 14pt;
    padding: 5px 10px;
    border: 2px solid #ccc;
    position: relative;
}

/*====================== VOTING AREA ======================*/

.vote-items {
    width: 70vw;
    height: max-content;
    margin: 40px auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 60px;
    align-items: stretch;

    outline: red 1px solid; /* DEBUG */
}

.vote-item {
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 15px;
    cursor: pointer;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.vote-item h3 {
    margin: 10px 0;
}

.vote-buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.vote-button {
    padding: 10px 20px;
    font-size: 14pt;
    cursor: pointer;
}