
/*====================== FILTER ======================*/

.filters {
    width: 70vw;
    height: min-content;
    margin: 100px auto auto auto;
}

.filter-input {
    width: 325px;
    height: 45px;
    font-size: 16px;
    padding: 14px;
    border: 1px solid #dadce0;
    position: relative;
    border-radius: 99px;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.14);
}

/*====================== VOTING AREA ======================*/

.vote-items {
    width: 70vw;
    height: max-content;
    margin: 40px auto;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 60px;
    align-items: stretch;
}

.vote-item {
    height: max-content;
    background-color: white;
    box-sizing: border-box;
    padding: 25px;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dadce0;
    box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.14);
    border-radius: 32px;
}

.item-logo {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.vote-item h3 {
    margin: 10px 0;
}

.vote-buttons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.vote-button {
    padding: 10px 20px;
    font-size: 14pt;
    cursor: pointer;
    border-radius: 16px;
    border: 1px solid transparent;
    color: white;
    transition: .2s;
}

.kill {
    background-color: var(--red);
}

.kill:hover {
    background-color: var(--darkred);
}

.spare {
    background-color: var(--green);
}

.spare:hover {
    background-color: var(--darkgreen);
}